@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playwrite+AU+VIC:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
    -Webkit-tap-highlight-color: transparent;
  }

  body {
    @apply max-h-screen w-screen overflow-x-hidden bg-dark-1 text-sm text-neutral-400 font-inter;
  }
}

@layer utilities {
  /* TYPOGRAPHY */
  
  .h1 {
    @apply text-[36px] leading-[140%] tracking-tighter;
  }

  .h2 {
    @apply text-[34px] leading-[140%] tracking-tighter;
  }

  /* UTILITIES */
  .invert-white {
    @apply invert brightness-0 transition;
  }

  .glassmorphism {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
  }

  .black-glassmorphism {
    background: rgba(0, 0, 0, 0.48);
    backdrop-filter: blur(6px);
  }

  .gradient {
     @apply drop-shadow-2xl bg-gradient-to-r from-primary to-[#234CE4];
  }

  .gradient-round {
    background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  }

  .gradient-text {
     @apply bg-clip-text text-transparent drop-shadow-2xl bg-gradient-to-b from-white/80 to-white/20;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }

  /* Topbar */
  .topbar {
    @apply fixed top-0 z-[99] w-full w-full flex p-[1rem] justify-between items-center;
  }

  .nav_links {
    @apply block py-2 cursor-pointer hover:text-primary/50;
  }
}